*{
   background-color:  #d6effb;
   
   
   }
   
   .consulta{
border: 2px solid black;
color: white;  
background-color: #0570de;
text-align: center;
font-size: 30px;

   }
footer{
   background-color: #00a6fb;
   color: white;
   margin-top: 25px;
   text-align: center;
   padding: 10x;
   width: 1250px;
}

*{
   overflow: hidden;
}

